body {
  background: repeating-linear-gradient(-45deg, #f2f2f1, #f2f2f1 1px, #e4e4e2 1px, #e4e4e2 4px);
}
.top_nav {
  background: #003c60;
}
.top_nav ul a {
  color: #fff;
}
.mobile_header {
  padding: 0 15px;
}
.logo {
  width: 168px;
  height: 60px;
  background: url(http://placehold.it/168x60) no-repeat left top;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.mobile_nav_button {
  width: 245px;
}
.left_column {
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
.right_column {
  background: #E4E4E2;
}
.video_feature {
  position: relative;
  background: #fff;
}
.video_feature .flag {
  right: 5px;
}
.flag {
  position: absolute;
  top: 0;
  width: 0;
  height: 45px;
  border-left: 20px solid #003c60;
  border-right: 20px solid #003c60;
  border-bottom: 10px solid transparent;
}
.flag:after {
  content: "\e006";
  font-family: 'Glyphicons Halflings';
  color: #fff;
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 3px;
  left: -9px;
  text-align: center;
}
.flag.opaque {
  border-left-color: #fff;
  border-right-color: #fff;
  opacity: 0.7;
}
.flag.opaque:after {
  content: "\e007";
  color: #eee;
}
.video_likes {
  color: #003c60;
}
.video_likes.unliked span {
  color: #E5EBEF;
}
.video_share {
  color: #003c60;
}
.course {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #ccc;
  padding: 0 50px 0 10px;
}
.course .flag {
  right: 10px;
}
.calendar {
  background: #fff;
  text-align: center;
  width: 45px;
  margin-right: 10px;
}
.calendar_month {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background: #a89968;
  margin-bottom: 0;
}
.calendar_date {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 18px;
  }
  .main_wrapper {
    position: relative;
    padding-left: 250px;
  }
}
@media only screen and (min-width: 1280px) {
  h2 {
    font-size: 24px;
  }
}
