/* ==========================================================================
   $Base & Layout
   ========================================================================== */

body {
  background: #E4E4E2;
  font-family: Arial, Helvetica, sans-serif;
}

.left_column {
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  bottom:0;
  background: url(../img/nav-tile.jpg) repeat left top;
  box-sizing: border-box;
  -webkit-box-shadow:inset 0 0 15px 0 rgba(000,000,000,.4);
  -moz-box-shadow:inset 0 0 15px 0 rgba(000,000,000,.4);
  box-shadow:inset 0 0 15px 0 rgba(000,000,000,.4);
  overflow: hidden;
}

.right_column {
  background: #E4E4E2;
}

.img-responsive {width:100%; max-width:100%;}

a {color:#003c60;}
a:hover, a:active, a:focus {}

p, h1, h2, h3, h4, h5, h6 {letter-spacing: .01em;}
p {color: #4D4F53; font-size:14px;}
.center {text-align:center;margin:0 auto;}
.strong {font-weight:bold;}
.tan {color:#a89968;text-shadow: 0 1px 0 #FFF;}

h1 {
font-size: 16px;
font-weight: 100;
color:#a89968;
}

h2 {
font-size: 26px;
font-weight: 100;
text-shadow: 0 1px 0 #FFF;
margin-bottom: 0px;
}

h3 {
font-size: 15px;
font-weight: bold;
color: #003c60;
padding: 0px;
}

.small-grey {
color: #A7A8AA;
font-size: 12px;
margin: 0;
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

p.resource-type-grey {
font-weight: bold;
color: #4D4F53;
}

hr {
margin-top: 10px;
margin-bottom: 10px;
border: 0;
border-top: 1px solid #eeeeee;
}

.container-fluid {
margin-right: auto;
margin-left: auto;
padding: 0px 0px 0px 5px;
}

.flag.opaque:hover {
border-left-color: #A5CFE9;
border-right-color: #A5CFE9;
cursor: pointer;
}

.padding-bottom {padding-bottom:10px;}
.padding-top {padding-bottom:10px;}
.border-bottom {padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #D5D6D2;box-shadow:0 1px rgba(255,255,255,.3);}
.border-top-bottom {padding-top:10px;margin-top:10px;border-top: 1px solid #D5D6D2;
border-bottom: 1px solid #D5D6D2;box-shadow:0px -1px rgba(255,255,255,.3), 0px 1px rgba(255,255,255,.3);}

.play-icon {
position: absolute;
left: 44%;
top: 17%;
border-radius: 40px;
background-color: rgba(255,255,255,.8);

}

span.glyphicon.icon-play {
font-size: 45px;
padding: 0;
margin: 0;
color: black;
}


/* ==============================
   $Modals General Styling
   ============================== */

button.close {
padding: 0;
cursor: pointer;
border: 0;
-webkit-appearance: none;
border-radius: 15px;
width: 30px;
height: 30px;
border: 2px solid #FFF;
background: #336380;
background: -moz-linear-gradient(top, #336380 0%, #033e62 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#336380), color-stop(100%,#033e62));
background: -webkit-linear-gradient(top, #336380 0%,#033e62 100%);
background: -o-linear-gradient(top, #336380 0%,#033e62 100%);
background: -ms-linear-gradient(top, #336380 0%,#033e62 100%);
background: linear-gradient(to bottom, #336380 0%,#033e62 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336380', endColorstr='#033e62',GradientType=0 );
opacity: 1;
}

button.close:hover,
button.close:active,
button.close:focus {
background: #033e62;
background: -moz-linear-gradient(top, #033e62 0%, #336380 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#033e62), color-stop(100%,#336380));
background: -webkit-linear-gradient(top, #033e62 0%,#336380 100%);
background: -o-linear-gradient(top, #033e62 0%,#336380 100%);
background: -ms-linear-gradient(top, #033e62 0%,#336380 100%);
background: linear-gradient(to bottom, #033e62 0%,#336380 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#033e62', endColorstr='#336380',GradientType=0 );
opacity: 1;
}

.modal-header .close {
margin-top: -31px;
margin-right: -28px;
}

.modal .panel-title {font-size: 13px;}
.modal span.filter_amount {color:#AFB0B1;}
.modal-header-left {}
.modal-header-right {text-align:right;margin-top:5px;}
.modal-body {padding:10px;}
.modal label {color: #A7A8AA;margin-top: 10px;margin-bottom: 5px;}

#signin .modal-dialog,
#forgotpass .modal-dialog,
#forgotpassenterpass .modal-dialog {width: 300px;}

.modal input[type="email"],
.modal input[type="url"],
.modal input[type="password"] {
height: 32px;
padding: 5px;
border: 1px solid #f4f4f3;
border-radius: 5px;
width: 100%;
}

.modal .dropdown-toggle {
width: 100%;
padding: 3px 5px;
text-align: left;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f0f0ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0ef 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f0f0ef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0ef',GradientType=0 ); /* IE6-9 */
}

.modal ul.dropdown-menu {
width: 100%;
background-color: #f0f0f0;
}

.modal span.caret {margin-top: 8px;}

.button-modal {
color: #ffffff;
font-weight:bold;
background-color: #a89968;
border-color: #928557;
border-top: 2px solid #9c8d5a;
border-bottom: 2px solid #B8AB83;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9c8d5a), to(#B8AB83));
background-image: -webkit-linear-gradient(#9c8d5a, #B8AB83);
background-image: -moz-linear-gradient(#9c8d5a, #B8AB83), -moz-linear-gradient(#9c8d5a, #B8AB83);
background-image: -o-linear-gradient(#9c8d5a, #B8AB83), -o-linear-gradient(#9c8d5a, #B8AB83);
background-image: linear-gradient(#9c8d5a, #B8AB83), linear-gradient(#9c8d5a, #B8AB83);
-moz-background-size: 5px 100%;
}

ul.register-specialty-one, 
ul.register-specialty-two, 
ul.register-sub-one, 
ul.register-sub-two {
font-weight: bold;
font-weight: bold;
font-size: 13px;
padding: 0px 5px;
list-style: none;
}

ul.register-specialty-one li, 
ul.register-specialty-two li, 
ul.register-sub-one li, 
ul.register-sub-two li {
padding: 5px 0px;
}

/* ==========================================================================
   $Navigation
   ========================================================================== */

/* ==============================
   $Top Nav
   ============================== */

.top_nav {
  background: #003c60;
  padding: 3px 20px;
  -webkit-box-shadow: 0 3px 5px 1px #BDBDBD;
  box-shadow: 0 3px 5px 1px #BDBDBD;
  -moz-box-shadow: 0 3px 5px 1px #BDBDBD;
}

li.top-nav-dividers {
border-right: 1px solid #265978;
color: #003c60;
width: 1px;
padding: 0px;
margin: 3px 3px;
}

.top_nav ul.list-inline {
margin-bottom: 0;
}

.top_nav ul a {
  color: #fff;
}

/* ==============================
   Main Nav - Signed out
   ============================== */

.mobile_header {
padding: 10px 15px;
background: url(../img/logo-mobile.png) no-repeat left top #FFF;
}

.logo {
width: 100%;
height: 50px;
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
margin: 10px auto;
}

.column_header {
padding-bottom: 10px;
}

.search form.form-inline {
text-align: center;
padding: 5px;
}

.btn-info {
color: #ffffff;
background-color: #a89968;
border-color: #928557;
border-top: 2px solid #9c8d5a;
border-bottom: 2px solid #B8AB83;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9c8d5a), to(#B8AB83));
background-image: -webkit-linear-gradient(#9c8d5a, #B8AB83);
background-image: -moz-linear-gradient(#9c8d5a, #B8AB83), -moz-linear-gradient(#9c8d5a, #B8AB83);
background-image: -o-linear-gradient(#9c8d5a, #B8AB83), -o-linear-gradient(#9c8d5a, #B8AB83);
background-image: linear-gradient(#9c8d5a, #B8AB83), linear-gradient(#9c8d5a, #B8AB83);
-moz-background-size: 5px 100%;
background-size: 2px 100%;
background-position: 0 0, 100% 0;
background-repeat: no-repeat;
padding: 3px 8px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
color: #ffffff;
background-color: #928557;
border-color: #928557;
border-top: 2px solid #928557;
border-bottom: 2px solid #928557;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9c8d5a), to(#a89968));
background-image: -webkit-linear-gradient(#9c8d5a, #a89968);
background-image: -moz-linear-gradient(#9c8d5a, #a89968), -moz-linear-gradient(#9c8d5a, #a89968);
background-image: -o-linear-gradient(#9c8d5a, #a89968), -o-linear-gradient(#9c8d5a, #a89968);
background-image: linear-gradient(#8D8051, #94875C), linear-gradient(#8A7C4E, #998B5F);
-moz-background-size: 5px 100%;
background-size: 2px 100%;
background-position: 0 0, 100% 0;
background-repeat: no-repeat;
padding: 3px 8px;
}

span.glyphicon.glyphicon-search {
text-shadow: 0 -1px 0 #8f8159;
-moz-text-shadow: 0 -1px 0 #8f8159;
-webkit-text-shadow: 0 -1px 0 #8f8159;
font-size: 20px;
}

li.active {background-color: #a79867;border: none;}
li.active a {color:#FFF; text-decoration:none;text-shadow:none!important;}
.nav_list li.active a {text-shadow: none}
li.active:hover {background-color: #91845a!important;}
.column_nav li a {text-shadow: 0 1px #FFF;}
ul.view_type_nav li.active {background-color: transparent;padding: 0;} /*for list/grid view btns*/

ul.list-unstyled.nav_list li:first-child {
border-top:none;
-webkit-box-shadow: -2px -2px 3px 0 rgba(000,000,000,.1)!important;
-moz-box-shadow: -2px -2px 3px 0 rgba(000,000,000,.1)!important;
box-shadow: -2px -2px 3px 0 rgba(000,000,000,.1)!important;
}

ul.list-unstyled.nav_list li:nth-last-child(2) {
border-top: none;
-webkit-box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
-moz-box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
}

.nav_list li:hover {
background-color: #d5d6d2;
-webkit-box-shadow: inset -6px 0px 5px -2px rgba(000,000,000,.15)!important;
-moz-box-shadow: inset -6px 0px 5px -2px rgba(000,000,000,.15)!important;
box-shadow: inset -6px 0px 5px -2px rgba(000,000,000,.15)!important;
}

li.nav-calendar:hover {
-webkit-box-shadow: -2px 0px 2px 3px rgba(000,000,000,.1);
-moz-box-shadow: -2px 0px 2px 3px rgba(000,000,000,.1);
box-shadow: -2px 0px 2px 3px rgba(000,000,000,.1);
background-color: #d5d6d2;
}

.nav_list li:hover a {text-decoration: none;}
.nav_list li {padding: 8px 20px;}

.nav_list li {
border-top: 1px solid #d4d5d1;
border-bottom: 1px solid rgba(255,2555,255,.5);
}

.nav_list li.active a {
color: #FFF;
text-decoration: none;
}

.mobile_nav_button {
  width: 88%;
}

/* mobile nav */
.mobile-nav {
  width: 100%;
  border-radius: 0;
  background: url(../img/nav-tile.jpg) repeat left top;
  padding: 0;
}
.mobile-nav li a {
  text-shadow: 0px 1px #FFF;
  padding: 8px 15px;
  border-top: 1px solid #D4D5D1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #003C60;
}
.mobile-nav li a:hover, .mobile-nav li a:focus {
  background-color: #d5d6d2;
  color: #003C60;
}
.mobile-nav .mobile-nav-break {
  height: 10px;
  box-shadow: inset -2px 0px 2px 3px rgba(000,000,000,.1);
}

 .nav-search{
position: absolute;
left: 15px;
width: 77%;
z-index: 5;
top: 110px;
opacity: 1;
transition: opacity .5s ease;
-webkit-transition: opacity .5s ease;
-moz-transition: opacity .5s ease;
}
input.form-hide{
display: none;
}
.nav_calendar span.float-right {
color: #a89968;
}
.form-group.mobile-search {
width: 80%;
display: inline-block;
}
li.nav-home, li.nav-calendar {
list-style: none;
padding: 7px 30px;
-webkit-box-shadow: -2px 0px 2px 3px rgba(000,000,000,.1)!important;
-moz-box-shadow: -2px 0px 2px 3px rgba(000,000,000,.1)!important;
box-shadow: -2px 0px 2px 3px rgba(000,000,000,.1)!important;
}

li.nav-home {margin-bottom: 10px;}
li.nav-calendar {margin-top: 10px;}

a.nav_home, a.nav_calendar {position: relative;}
a.nav_home .glyphicon.icon-home {}
a.nav_calendar .glyphicon.icon-cal {position: absolute;right: -80px;}

/* ==============================
   $Main Nav - Signed in
   ============================== */

.profile li.nav-home {
margin-bottom: 0;
}

.profile li.nav-favorites {
margin-bottom: 10px;
-webkit-box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
-moz-box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
}

/* ==========================================================================
   $Content
   ========================================================================== */

/* ==============================
   $Home Page
   ============================== */

.content {
padding: 20px;
}

/* -- $Hero -- */

.hero_title h2 {
color: #FFF;
font-size: 14px;
font-weight: 100;
padding: 10px 20px 0px 20px;
margin: 0;
height: 35px;
text-shadow: none;
}

.hero_description h3 {
font-size: 14px;
color: #a6a7a9;
font-weight: 100;
margin-top: 0px;
}

.hero_image {position: relative;}
.hero_text {position: absolute;bottom: 0;}

.hero_description {
padding: 10px 20px;
background-color: #003c60;
border-bottom: 2px solid #002D48;
}

.hero_title {
background: url(../img/hero-gradient-tile.png) repeat-x left top;
}

.hero_description a {color: #d4caa0;}
.hero_description a:hover {color: #FFFFFF;text-decoration:none;}
.hero_description li.dropdown-toggle a {color: #FFFFFF;}

.play-button-center {
position: absolute;
width: 70px;
height: 70px;
left: 0;
top: 0;
right: 0;
bottom: 0;
margin: auto;
color: #fff;
opacity: 0.5;
text-align: center;
line-height: 70px;
font-size: 3em;
}
.play-button-center:hover, .play-button-center:active {
  opacity: 0.9;
  color: #fff;
}


/* -- $Content Boxes -- */

.box-text-content {padding: 0px 10px 10px 10px;}

.box-text-content h4 {
font-size: 12px;
text-transform: uppercase;
font-weight: 100;
margin-bottom: 0;
}

.box-text-content h3 {
padding: 0px;
margin-top: 5px;
}

.box-text-content h5 {
color: #4d4f53;
font-size: 16px;
font-weight: 100;
margin: 3px 0px 0px 0px;
}

.text-max-height {
height: 79px;
}

.pull-left.share,
.pull-right.views {
color: #003c60;
font-size:12px;
line-height: 1;
}

li.divider {
border-left: 1px solid #ccc;
margin: 0;
padding: 0!important;
width: 0px;
text-align: center;
}


/* -- $Upcoming Courses -- */

.upcoming-courses {
padding: 20px;
}

.upcoming-courses h2 {
margin-bottom: 10px;
}

.course_details {
padding-top: 10px;
}

h3.course_description {
text-shadow: 0 1px 0 #FFF;
margin-bottom:0;
}

p.course_location,
p.course_length {
color: #A7A8AA;
font-size: 12px;
margin: 0;
padding: 0;
}

p.course_length {
line-height: .7;
margin-bottom: 20px;
}

.row.course_details {
padding-top: 10px;
}

h3.course_description,
h3.procedure_description {
text-shadow: 0 1px 0 #FFF;
margin: 0;
}

ul.share-like-list {list-style:none;padding:0;}
ul.share-like-list li:last-child {border:none;}
ul.share-like-list li {display:inline;padding:0px 10px;}
ul.share-like-list li:last-child {padding-left: 10px;}
.row.interaction.calendar-share {border-bottom: 1px solid #CCC;box-shadow:0 1px rgba(255,255,255,.5);}


/* ==============================
   $Bodypart Landing Page
   ============================== */

.landing-page-hero .hero_text {
padding: 10px 20px;
background-color: #003c60;
border-bottom: 2px solid #002D48;
}

.hero_description ul.share-like-list li {color: #FFF;}
.hero-landing .hero_description {padding: 0px 20px;}

.filter-btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: left;
background: transparent;
vertical-align: middle;
border: 2px groove rgba(255,255,255,.3);
padding: 5px;
color: #4D4F53;
font-size: 12px;
border-radius: 0px;
width: 230px;
}

ul.dropdown-menu-filter {
width: 230px;
border-radius: 0;
border: none;
margin-top: -10px;
background: #d5d6d2;
color: #4D4F53;
font-size: 12px;
}

.filters.dropdown.open button.dropdown-toggle {
background: #d5d6d2;
}

.filter-btn:hover, .filter-btn:active, .filter-btn:focus {background:rgb(235, 235, 235);}
.row.filters {padding: 10px 0px;}
.filter-btn span.glyphicon {
color: #A7A8AA;
font-weight: bold;
font-size: 13px;
float: right;
}

.view-btn {
margin-top: 20px;
border:1px solid #D5D6D2;
border-radius:0px;
background:#E5E5E2;
color:#A7A8AA;
}

.view-btn:hover, .view-btn:active, .view-btn:focus,
.view-btn.active:hover, .view-btn.active:focus, .view-btn.active:active {
background-color:#FFF;
color:#4D4F53;
}

.view-btn.active {
background-color: #D5D6D2;
color: #4D4F53;
box-shadow: none;
}

/* List view Specific */

.procedure_details h4 {
font-size: 10px;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 3px;
}

.procedure {
border-top: 1px groove rgba(255, 255, 255, 0.6);
border-left: 0;
border-right: 0px;
border-width: 2px;
padding: 0 50px 0 10px;
margin-bottom: 5px;
}

.procedure .flag {
right: 10px;
margin-top: 1px;
}

.procedures-list {
padding: 0px 20px;
}

img.list-item-thumbnail {border:2px solid #FFF; padding:0; margin-right:5px;height: auto;width: 90px;}
.list-item-content {padding-top:5px;padding-bottom:5px;}

p.list-item-type {font-weight: bold;margin-bottom:3px;}

/* Modal Specific */

ul.filter-prodecure-sublist {list-style: none;padding:0;}
ul.filter-prodecure-sublist li {padding:5px 0px;}
.modal .panel-heading {8px 15px;}
li.indent {margin-left: 20px;}
.modal .glyphicon.icon-caret-down.pull-right {color: #D1D2D0;}


/* ==============================
   $Resource Detail Views
   ============================== */

.content .flag.opaque {
z-index: 999;
text-align: right;
right: 5px;
}

/* $Video Specific */

.row.resource-description {
padding:20px 0px;
}

/* $Video Playlist Specific */

.resource-detail-banner {position:relative;}

.playlist-roll {
background-color: #4c4e52;
padding: 7px;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
margin-left: 0;
margin-top: -5px;
}

.playlist-roll > li {
  vertical-align: middle !important;
}

p.video-thumb-title, p.time {
color: #a6a7a9;
text-shadow: 0 -1px 0 rgba(000,000,000,.7);
margin:0px;
line-height: 1;
}

.single-video-thumb img.img-responsive {border: 2px solid #a6a7a9;margin-bottom: 5px;}

.single-video-thumb {
  display: block;
  padding: 7px;
  width: 100px;
  height: 100px;
  font-size: 12px;
  white-space: normal;
  color: #aaa;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
}
.single-video-thumb.active {background-color: #a79867;}
.single-video-thumb.active p {color:#FFF;}
.single-video-thumb:hover, .single-video-thumb:focus, .single-video-thumb:active {background-color: #a79867; color: #fff; text-decoration: none;}
.single-video-thumb a:hover, .single-video-thumb a:focus, .single-video-thumb a:active {color:#FFFFFF;}

/* $PDF and App Specific */

img.img-responsive.thumb-hero {
border: 2px solid #D5D6D2;
margin-right: 30px;
}


/* ==============================
   $Calendar Detail
   ============================== */

.calendar-item-grey {
	color:#A7A8AA;
	text-shadow: 0 1px 0 #FFF;
}

.cal-detail-heading {color:#A7A8AA;text-transform:uppercase;margin-bottom:0px;font-weight:bold;}


/* ==============================
   $Profile
   ============================== */

p.profile-label {color:#CCC;font-weight:bold;text-transform:uppercase;margin-bottom:0;}
p.profile-label a {color:#003C60;font-weight:100;text-transform:lowercase;}


/* ==============================
   $About
   ============================== */
h2 {
font-size: 24px;
margin-bottom: 15px;
}
.about-location {
  position: relative;
  background: #fff;
}

.about-location h4 {
font-size: 14px!important;
font-weight: bold;
}

.single-content-box > .about-location {
border: 1px solid #D5D6D2;
}
.about-location img {
width: 100%;
}
/*Collapse Panels*/
.panel-default > div.panel-heading{
  background: transparent;
  border-bottom: 1px solid #dddddd;
}
.panel.panel-default {
box-shadow: 0px 0px 0px 0px;
border: transparent;
background: transparent;
}
.panel-default > .panel-heading + .panel-collapse > div.panel-body{
  border-top: 0px transparent;
}
div.modal-content{
  border-radius: 0px;
}
.modal-copy {
padding: 15px;
}
h4.modal-title {
font-size: 28px;
font-weight: 100;
}
/* ==========================================================================
   $Footer
   ========================================================================== */

footer.footer {
background-color: #D5D6D2;
padding: 20px;
margin: 0;
}

nav.footer_nav {font-size: 12px;}

nav.footer_nav ul.list-inline li {
border-right: 1px solid #9E9E9E;
}

nav.footer_nav ul.list-inline li:last-child {
border-right: none!important;
}

footer.footer p {
color: #4D4F53;
font-size: 12px;
}

footer.footer p.updated {
color: #9FA09E;
}



.video_feature {
  position: relative;
  background: #fff;
}

.video_feature .flag {
  right: 5px;
}

.flag {
  position: absolute;
  top: 0;
  width: 0;
  height: 45px;
  border-left: 20px solid #003c60;
  border-right: 20px solid #003c60;
  border-bottom: 10px solid transparent;
}

.flag:after {
  content: "\e602";
  font-family: 'Glyphicons Halflings';
  color: #8CA7B5;
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 3px;
  left: -9px;
  text-align: center;
}

.flag.opaque {
  border-left-color: #EBE9E7;
  border-right-color: #EBE9E7;
  opacity: .9;
}

.flag.opaque:after {
  color: #8CA7B5;
}

.video_likes {
  color: #003c60;
}

.video_likes.unliked span {
  color: #E5EBEF;
}

.video_share {
  color: #003c60;
}

.course {
border-top: 1px groove rgba(255, 255, 255, 0.6);
border-bottom: 1px groove rgba(255, 255, 255, 0.6);
border-left: 0;
border-right: 0px;
border-width: 2px;
padding: 0 50px 0 10px;
margin-bottom: 10px;
}

.course .flag {
  right: 10px;
  margin-top: 1px;
}

.calendar {
  background: #fff;
  text-align: center;
  width: 45px;
  margin-right: 10px;
}

.calendar_month {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background: #a89968;
  margin-bottom: 0;
  text-shadow: 0 -1px 0 #8f8159;

background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9c8d5a), to(#B8AB83));
background-image: -webkit-linear-gradient(#9c8d5a, #B8AB83);
background-image: -moz-linear-gradient(#9c8d5a, #B8AB83), -moz-linear-gradient(#9c8d5a, #B8AB83);
background-image: -o-linear-gradient(#9c8d5a, #B8AB83), -o-linear-gradient(#9c8d5a, #B8AB83);
background-image: linear-gradient(#9c8d5a, #B8AB83), linear-gradient(#9c8d5a, #B8AB83);
}

.calendar_date {
  font-size: 20px;
}


@media only screen and (min-width: 320px) {

/* Padding to 15px */
li.active {padding: 7px 15px;}
.nav_list li {padding: 8px 15px;}

ul.list-unstyled.nav_list li:nth-last-child(2) {
border-top: none;
-webkit-box-shadow: 0px 4px 4px -4px rgba(000,000,000,.2);
-moz-box-shadow: 0px 4px 4px -4px rgba(000,000,000,.2);
box-shadow: 0px 4px 4px -4px rgba(000,000,000,.2);
}
li.nav-home, li.nav-calendar {
list-style: none;
padding: 7px 30px;
-webkit-box-shadow: 0px 0px 2px 3px rgba(000,000,000,.1);
-moz-box-shadow: 0px 0px 2px 3px rgba(000,000,000,.1);
box-shadow: 0px 1px 2px -1px rgba(000,000,000,.1);
}

.content {padding: 10px 15px;background: #E4E4E2;}
.upcoming-courses {padding: 0px;}
.single-content-box {margin-bottom: 15px;}
.single-upcoming-course:last-child {margin-bottom: 15px;}

.container-fluid {padding: 0px;background-color: #E4E4E2;}

.right_column {
background: #E4E4E2;
background-size: contain;
background: url(../img/nav-tile.jpg) repeat left top;
}

.mobile_header {text-align: center;}
.collapse-nav {clear: both;}
.hero_text {width: 100%;}
.hero_title {width: 100%;}
.hero_title h2 {font-size: 16px;}

.hero_image {min-height: 180px;background-color: #FFF;}

.box-text-content h5 {font-size: 12px;}
.box-text-content h4 {font-size: 11px;}

.course {border-bottom: 0px;}

h3 {font-size: 14px;}
h2 {font-size: 16px;}

.filter-btn {min-width: 190px;width:auto;}

}


@media only screen and (min-width: 768px) {

.right_column {background: #E4E4E2;}
h2 {font-size: 18px;}
.main_wrapper {position: relative;padding-left: 250px;}
.course {border-bottom: 0px;}
.hero_title h2 {font-size: 18px;}
.play-button-center {
  font-size: 5em;
}
.filter-btn {min-width: 160px;}

/* Padding to 20px */
li.active {padding: 7px 20px;}
.nav_list li {padding: 8px 20px;}
.content {padding: 10px 20px;}
.upcoming-courses {padding: 0px;}
.single-content-box {margin-bottom: 20px;}
.single-upcoming-course:last-child {margin-bottom: 20px;}
.single-video-thumb {
  width: 200px;
  height: 75px;
  font-size: 14px;
}
.single-video-thumb img {
  float: left;
  margin-right: 4px;
  width: 35%;
}

/* Content boxes */
.text-max-height {height: 100px;}
.col-xs-6.col-md-3.single-content-box {height: 357px;}

/* Footer */
footer.footer {padding: 30px;}

}

@media only screen and (min-width: 1024px) {

.right_column {
  background: #E4E4E2;
}

/* Padding to 30px */
li.active {padding: 7px 30px;}
.nav_list li {padding: 8px 30px;}
.content {padding: 10px 30px;}
.upcoming-courses {padding: 0px;}

/* Content boxes */
.text-max-height {height: 100px;}
.col-xs-6.col-md-3.single-content-box {height: 270px;}

/* Footer */
footer.footer {padding: 30px;}

}

@media only screen and (min-width: 1280px) {

.right_column {background: #E4E4E2;}

h2 {font-size: 24px;}

.text-max-height {height: 80px;}

.col-xs-6.col-md-3.single-content-box {height: 296px;}

.upcoming-courses {padding:0px;}

}
